.monthname {
    width: 18em;
}
.pointer {
    cursor: pointer;
    user-select: none;
}

.header-group {
    background-color: $primary-color;
    color: #fff;
    margin-bottom: 0.5em;
    display: flex;
    padding: 10px 22px;
    justify-content: center;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.calendar p {
    line-height: 1.5em;
    margin: 0;
    color: #fff;
}

.chevron-wrapper {
    opacity: 0.7;
    transition: all 0.3s;
    &:hover {
        opacity: 1;
    }
}

.week {
    color: #79787f;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    cursor: default !important;
    span {
        background-color: #f6f6f6;
    }
}

.calendar {
    background: #fff;
    color: #777;
    padding: 0;
    min-height: 15em;
    max-width: 400px;
    margin: 0 auto;
}

.calendar li {
    float: left;
    width: calc(100% / 7);
    text-align: center;
    padding: 0.25em 5px;
    cursor: pointer;
    span {
        border: 1px solid #e3e2e7;
        border-radius: 50%;
        line-height: 36px;
        display: block;
        transition: all .3s;
    }
}

.calendar li.empty {
    pointer-events: none;
}

.calendar li:hover {
    color: $primary-color;
}

.calendar li.active,
.calendar li.active:hover {
    span {
        background-color: $primary-color;
        color: #fff;
    }
}

.center {
    text-align: center;
}
