.header {
    height: 141px;
}
.header__top {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &-btn {
        border: none;
        background-color: $primary-color;
        color: #fff;
        padding: 14px 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
    }
    &-btnimg {
        margin-right: 5px;
        font-size: 15px;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    &__link {
        width: 145px;
        height: 29px;
        margin-right: 10px;
    }
}

.menutop {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__item-imgbox {
        display: inline-block;
    }
    &__item-img {
        font-size: 20px;
        color: $primary-color;
        margin-right: 5px;
    }
    &__iten-text {
        display: block;
    }
}
.menubottom__img {
    width: 16px;
    height: 16px;
}

.header__bottom {
    max-width: 1140px;
	margin: 0 auto;
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    transform: translateY(10px);
    z-index: 999;
    &--active {
        position: fixed;
        max-width: none;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(0);
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
        padding: 10px 15px;
        height: 60px;
    }
}
.menubottom {
    &__list {
        display: flex;
        align-items: center;
        color: #fff;
    }
    &__item {
        padding: 8px;
        text-transform: uppercase;
        transition: all .3s;
        & + .menubottom__item {
            margin-left: 20px;
        }
        &:hover {
            background-color: #fff;
            color: #000;
        }
        &--active {
            background-color: #fff;
            color: #000;
        }
    }
    &__links {
        height: 19px;
    }
    &__buttons-basket {
        margin-left: 20px;
    }
    &__img {
        width: 19px;
        height: 100%;
    }
}