@media (max-width: 1170px) {
    .logo {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    .header__top-inner {
        flex-wrap: wrap;
        padding: 22px 0;
    }
    .menutop {
        flex: 1;
        margin-right: 30px;
    }
    .menutop__list {
        margin-left: 0;
    }
    .what-section__list {
        justify-content: start;
        max-width: 720px;
        margin: 0 auto;
    }
    .what-section__item {
        max-width: 360px;
        margin-top: 50px;
    }
    .services-section__item {
        display: block;
        text-align: center;
    }
    .services-section__img-wrapper {
        margin: 0 auto 20px auto;
    }
    .projects-section__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .pricing-tables {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing-tables__item {
        margin-bottom: 30px;
    }
    .pricing-section {
        margin-bottom: 20px;
    }
    .fewwords-section__inner {
        flex-wrap: wrap;
        width: 75%;
        justify-content: center;
        margin: 0 auto;
    }
    .fewwords-section__info,
    .fewwords-section__img-wrapper {
        max-width: 100%;
    }
    .fewwords-section__info {
        margin-bottom: 30px;
    }
    .fewwords-section__title {
        font-size: 26px;
    }
    .aboutwhy-section__list {
        flex-wrap: wrap;
    }
    .aboutwhy-section__item {
        max-width: 33%;
    }
}

@media (max-width: 1100px) {
    .hi-section__info-callus {
        font-size: 48px;
        line-height: 60px;
    }
    .hi-section__request {
        max-width: 300px;
    }
    .section-title {
        font-size: 24px;
        line-height: 1.5;
    }
    .footer__top-inner {
        padding-bottom: 35px;
        width: 87%;
        margin: 0 auto;
    }
    .footer__top-item {
        width: 50%;
        margin-bottom: 35px;
    }
    .weoffer-section__inner {
        margin-right: 50px;
        max-width: 503px;
    }
    .weoffer-section__title {
        font-size: 33px;
    }
    .needsome-section__title {
        font-size: 37px;
    }
    .mission-sectiom__title {
        font-size: 24px;
    }
}

@media (max-width: 1024px) {
    .why-section__list {
        flex-wrap: wrap;
    }
    .why-section__item {
        max-width: 50%;
        margin-bottom: 30px;
    }
    .why-section {
        padding-bottom: 45px;
    }

    .services-section__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
    }
    .projects-section__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .page-section {
        padding: 50px 0;
    }
    .news-section__item-title {
        font-size: 20px;
    }
    .news-section__box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .news-section__item {
        margin-bottom: 40px;
        max-width: 500px;
    }
    .contactinfo-section__list {
        flex-wrap: wrap;
    }
    .contactinfo-section__img-wrapper {
        width: 66px;
        height: 66px;
        line-height: 66px;
    }
    .contactinfo-section {
        padding-bottom: 20px;
    }
    .contactinfo-section__img-wrapper {
        font-size: 26px;
    }
    .contactinfo-section__title {
        font-size: 15px;
    }
    .weoffer-section {
        background-color: rgba(255, 255, 255, 0.7);
        background-blend-mode: lighten;
    }
    .weoffer-section__inner {
        margin-right: 20px;
        max-width: 430px;
    }
    .pricing-section__text {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .aboutwhy-section__item {
        max-width: 50%;
    }
    .mission-sectiom__inner {
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 700px;
    }
    .mission-sectiom__left,
    .mission-sectiom__right {
        max-width: 100%;
        padding: 0;
    }
    .mission-sectiom__left {
        margin-bottom: 30px;
    }
    .aboutinfo-section__list {
        flex-wrap: wrap;
    }
    .aboutinfo-section__item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    .aboutinfo-section {
        padding-bottom: 20px;
    }
    .blogs__inner {
        flex-wrap: wrap;
        max-width: 90%;
        margin: 0 auto;
    }
    .blogs__posts,
    .blogs__filter {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .blogs__posts {
        margin-bottom: 50px;
    }
}

@media (max-width: 900px) {
    .header__top {
        display: none;
    }
    .header__bottom {
        display: none;
    }
    .menu-mobile__nav {
        display: block;
        transform: translateX(-110%);
        transition: all 0.3s ease-in-out;
        &.active {
            transform: translateX(0);
        }
    }
    .menu-mobile {
        display: flex;
    }
    .menu-mobile__form {
        display: block;
    }
    .menu-mobile__content {
        display: block;
        &.active {
            opacity: 1;
        }
    }

    .hi-section__info-callus {
        font-size: 40px;
        line-height: 53px;
    }
    .hi-section__info-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contactinfo-section__item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .why-section__list {
        flex-direction: column;
        max-width: 370px;
        margin: 55px auto 0 auto;
    }
    .why-section__item {
        max-width: 100%;
    }
    .what-section__list {
        justify-content: center;
        max-width: none;
    }
    .quality-section {
        height: auto;
    }
    .quality-section__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .quality-section__info {
        margin-left: 0;
        margin-top: 30px;
    }
    .quality-section__title {
        font-size: 26px;
    }
    .weoffer-section {
        background-image: none;
        background-color: #e7e9ee;
        padding: 115px 0;
    }
    .weoffer-section__inner {
        margin: 0 auto;
        max-width: 430px;
        text-align: center;
    }
    .weoffer-section__title {
        font-size: 30px;
    }
    .post__title,
    .post-section__title {
        font-size: 25px;
    }
    .post {
        flex-wrap: wrap;
    }
    .post__social {
        display: flex;
        margin-bottom: 20px;
    }
    .post__social-list {
        display: flex;
    }
    .post__social-item {
        padding: 0 15px;
    }
    .post__content {
        margin-left: 0;
    }
    .blogs__posts {
        padding-right: 0;
        &::after {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .hi-section {
        padding-top: 100px;
    }
    .hi-section__inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .hi-section__info {
        margin-bottom: 30px;
    }
    .hi-section__info-callus {
        display: flex;
        font-size: 32px;
        line-height: 40px;
    }
    .hi-section__info-callus-phone {
        margin-left: 10px;
    }
    .d-md-none {
        display: block;
    }
    .projects-section__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 700px) {
    .contactinfo-section__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-form__form {
        flex-wrap: wrap;
    }
    .contact-form__input-box {
        max-width: 100%;
        flex: 100%;
        margin-right: 0;
    }
    .contact-form__textarea-wrapper,
    .comment-post__textarea-wrapper {
        max-width: 100%;
        flex: 100%;
        margin-top: 20px;
    }
    .contact-form {
        padding-bottom: 50px;
    }
    .contact-form__btn-wrapper {
        text-align: center;
    }
    .breadcrumbs__inner {
        flex-direction: column;
    }
    .breadcrumbs__box {
        margin-top: 10px;
    }
    .pricing-tables {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }
    .needsome-section {
        background-color: rgba(255, 255, 255, 0.7);
        background-blend-mode: lighten;
        padding: 30px 0;
    }
    .needsome-section__inner {
        margin: 0 auto;
        max-width: 75%;
    }
    .fewwords-section__inner {
        width: auto;
    }
    .fewwords-section__img-wrapper {
        padding: 0;
    }
    .aboutwhy-section__item {
        max-width: 100%;
    }
    .aboutinfo-section__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .hi-section__info-callus {
        display: block;
    }
    .services-section__list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .quality-section__title {
        font-size: 24px;
    }
    .footer__top-inner {
        width: 100%;
    }
    .footer__top-item {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .news-section__date {
        width: 60px;
        height: 60px;
        padding: 7px 2px;
    }
    .news-section__date-num {
        font-size: 27px;
    }
}

@media (max-width: 340px) {
    .footer__bottom-inner {
        justify-content: center;
    }
    .footer__social-list {
        margin-top: 5px;
    }
}
