.projects-section {
    &__inner {
        text-align: center;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-top: 55px;
    }
    &__item {
        max-width: 430px;
    }
    &__img-wrapper {
        position: relative;
        &:hover {
            .projects-section__img-dark {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    &__img-dark {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(20, 20, 25, 0.75);
        color: #fff;
        transition: all 0.3s;
        transform: translateX(-110%);
        opacity: 0;
    }
    &__img-title {
        color: inherit;
        font-size: 15px;
        line-height: 1.5;
        text-transform: none;
        margin-bottom: 10px;
        transition: all 0.3s;
        &:hover {
            color: $primary-color;
        }
    }
    &__img-text {
        color: inherit;
        margin-bottom: 20px;
    }
    &__img-link {
        color: inherit;
        background-color: $primary-color;
        border-color: $primary-color;
        transition: all 0.3s;
        &:hover {
            background-color: $title;
            border-color: $title;
        }
    }
    &__btn {
        border: none;
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
        margin: 0 auto;
        margin-top: 60px;
        &:hover {
            background-color: $title;
            border-color: $title;
        }
    }
}
