.workwith-section {
    background-color: #f6f6f6;
    .workwith-slider {
        margin-top: 55px;
    }
    .workwith-slider__item {
        text-align: center;
        height: 77px;
        line-height: 77px;
    }
    .workwith-slider__item-img {
        display: inline-block !important;
        vertical-align: middle;
    }
    .slick-dots {
        text-align: center;
        margin-top: 20px;
        li {
            display: inline-block;
            margin: 0 5px;
            font-size: 0;
            &.slick-active {
                button {
                    background-color: $primary-color;
                }
            }
            button {
                border: none;
                background-color: $title;
                border-radius: 50%;
                padding: 0;
                width: 10px;
                height: 10px;
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }
}
