html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 280px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #1e1d24;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.display-none {
  display: none;
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 14px 35px;
  font-size: 12px;
  line-height: 18px;
  border: 2px solid;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
}

.page-section {
  padding: 75px 0;
}

.header {
  height: 141px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.header__top-btn {
  border: none;
  background-color: #1c62cd;
  color: #fff;
  padding: 14px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.header__top-btnimg {
  margin-right: 5px;
  font-size: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.logo__link {
  width: 145px;
  height: 29px;
  margin-right: 10px;
}

.menutop {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.menutop__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menutop__item {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.menutop__item-imgbox {
  display: inline-block;
}
.menutop__item-img {
  font-size: 20px;
  color: #1c62cd;
  margin-right: 5px;
}
.menutop__iten-text {
  display: block;
}

.menubottom__img {
  width: 16px;
  height: 16px;
}

.header__bottom {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #1c62cd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  transform: translateY(10px);
  z-index: 999;
}
.header__bottom--active {
  position: fixed;
  max-width: none;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
}
.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 15px;
  height: 60px;
}

.menubottom__list {
  display: flex;
  align-items: center;
  color: #fff;
}
.menubottom__item {
  padding: 8px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.menubottom__item + .menubottom__item {
  margin-left: 20px;
}
.menubottom__item:hover {
  background-color: #fff;
  color: #000;
}
.menubottom__item--active {
  background-color: #fff;
  color: #000;
}
.menubottom__links {
  height: 19px;
}
.menubottom__buttons-basket {
  margin-left: 20px;
}
.menubottom__img {
  width: 19px;
  height: 100%;
}

.hi-section {
  background-image: url("../images/bg.jpg");
  min-height: 415px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hi-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hi-section__info-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.36364;
  margin-bottom: 25px;
}
.hi-section__info-callus {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.hi-section__info-callus-phone {
  color: #1c62cd;
}
.hi-section__info-img {
  color: #1c62cd;
  font-size: 20px;
  margin-right: 3px;
}
.hi-section__info-text {
  font-size: 14px;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.hi-section__request {
  background-color: #fff;
  box-shadow: 3px 0 38px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 380px;
}
.hi-section__request-title {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
}
.hi-section__form {
  display: flex;
  flex-direction: column;
}
.hi-section .form-validation {
  display: none;
  position: absolute;
  top: 3px;
  right: 8px;
  z-index: 11;
  color: #1c62cd;
  font-size: 9px;
  line-height: 12px;
  transition: all 0.3s;
}
.hi-section__form-input-wrapper {
  position: relative;
}
.hi-section__form-input-wrapper.has-error .hi-section__form-input {
  border: 1px solid #1c62cd;
}
.hi-section__form-input-wrapper.has-error .form-validation {
  display: block;
}
.hi-section__form-input {
  width: 100%;
  padding: 10px 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  outline: none;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  color: #1e1d24;
  border: 1px solid #e3e2e7;
  transition: all 0.3s ease-in-out;
}
.hi-section__form-input::placeholder {
  color: #79787f;
}
.hi-section__form-input:focus {
  background: #ffffff;
  border-width: 2px;
  padding: 9px 18px;
}
.hi-section__form-btn {
  color: #ffffff;
  background-color: #26b56b;
  border-color: #26b56b;
  display: block;
}